.orderItemContainer {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  text-decoration: none;
  color: black;
}
.orderImgContainer {
  width: 80px;
  height: 80px;
  margin: 20px;
  overflow: hidden;
  text-align: center;
}
.orderImg {
  max-width: 80px;
  max-height: 80px;
}
.orderRow {
  display: flex;
  flex: 1;
}
.orderName {
  width: 300px;
  box-sizing: border-box;
  font-size: 30px;
  padding: 0 20px;
  font-size: 16px;
  margin: 20px 20px;
}
.orderPrice {
  box-sizing: border-box;
  padding: 0 40px;
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  margin: 20px 20px;
  font-weight: bold;
}

.orderTitle {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 20px;
}

.orderQuantity {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 20px;
}

.orderDate {
  font-size: 18px;
  margin: 20px 20px;
  font-weight: bold;
}
